[submodule "dingo-store-proto"]
	path = dingo-store-proto
	url = https://github.com/dingodb/dingo-store-proto
[submodule "src/serial"]
	path = serial
	url = https://github.com/dingodb/dingo-serial
[submodule "third-party/grpc"]
	path = third-party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/glog"]
	path = third-party/glog
	url = https://github.com/google/glog
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
